
.carousel {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}

.carousel__carouselButtons {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel__carouselButtons button {
    width: 49.5%;
    padding: 5px 0;
}


.carousel-slide {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.carousel-slide figcaption {
    margin: 5px 0;
    font-size: 24px;
    text-align: center;
}
